/* =====================================
   BODY
===================================== */

body{
    margin:0;
    font-family:"Times New Roman", serif;
}

/* =====================================
   MAP
===================================== */

#map{
    width:100%;
    height:100vh;
}

/* =====================================
   HILANGKAN ZOOM
===================================== */

.leaflet-control-zoom{
    display:none !important;
}

/* =====================================
   HILANGKAN LAYER CONTROL
===================================== */

.leaflet-control-layers{
    display:none !important;
}

/* =====================================
   LEGENDA
===================================== */

.legend{
    background:#F0EFCD;
    color:#105361;
    border:2px solid #105361;
    border-radius:12px;
    padding:15px;
    font-size:18px;
    font-weight:bold;
    font-family:"Times New Roman", serif;
    box-shadow:0 3px 8px rgba(0,0,0,0.25);
    line-height:1.8;
}

.legend h4{
    margin:0 0 10px;
    text-align:center;
    font-size:24px;
    color:#105361;
}

.legend p{
    margin:5px 0;
}

.legend img{
    width:20px;
    vertical-align:middle;
    margin-right:8px;
}

/* =====================================
   POPUP
===================================== */

.leaflet-popup-content-wrapper{
    background:#F0EFCD;
    border:2px solid #105361;
    border-radius:10px;
}

.leaflet-popup-tip{
    background:#F0EFCD;
}

.leaflet-popup-content{
    font-family:"Times New Roman", serif;
    color:#105361;
    font-size:16px;
}

/* =====================================
   SCROLLBAR
===================================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#105361;
    border-radius:10px;
}